name: Recompute instance

on:
  workflow_dispatch:
    inputs:
      working_branch_name:
        description: "The new branch where new files are added"
        required: true
        default: "default"
        type: string  
      start_index:
        description: "Starting index "
        required: true
        type: number  
      end_index:
        description: "End index"
        required: true
        type: number  

jobs:
  AddSimData:
    runs-on: nrec-large
    steps:
      - name: Pull Docker image
        run: |
          sudo docker pull nmrlipids/project:recomputeinstance1.0

      - name: Run the Docker container with environment variables
        run: |
          sudo docker run --rm \
          --env GITHUB_REPOSITORY="${{ github.repository }}.git" \
          --env BRANCH_NAME=${{ inputs.working_branch_name }} \
          --env GITHUB_TOKEN=${{ secrets.GH_TOKEN }} \
          --env start_index=${{ inputs.start_index }} \
          --env end_index=${{ inputs.end_index }} \
          nmrlipids/project:recomputeinstance1.0